extends ../../views/layout

block append scripts
    script(type='text/javascript', src='/javascripts/users.list.js')

block content
    h2= 'Users'
    a(href='/users/create')= 'Создать'
    table#users
        thead 
            tr
                th= 'Login'
                th= 'Last Name'
                th= 'First Name'
        tbody